langchain
langchain-huggingface
langchain-openai
huggingface_hub
openai
google-search-results
tiktoken
chromadb
lark
langchain-groq
langchain_community
langchainhub
langgraph
langchain-chroma
bs4
unstructured
sentence_transformers
jq
streamlit
pymilvus
pypdf
openshift
